<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Welcome to Danebook</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- My CSS -->
  <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>

  <nav id="top-nav" class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/home"><img class="navbar-brand img-circle" alt="Danish Flag" src="../assets/danish_flag.gif"></a>
        <a class="navbar-brand" href="#">Danebook</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for Users" autofocus="autofocus">
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Hermoine</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <main class="container-fluid">
    <section id="profile-banner">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="banner-wrapper">
            <img src="../assets/quokka.png" alt="Profile Image"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <nav class="navbar navbar-default">
            <div class="col-sm-6 col-sm-offset-3">
              <ul class="nav navbar-nav ">
                <li><a href="#">Timeline</a></li>
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Friends</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Edit Profile</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Photos</h3>
              <button id="edit-profile" type="button" class="btn btn-primary">Edit Profile</button>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
                <div class="col-sm-3">
                  <img src="../assets/user_silhouette_generic.gif" alt="Profile Image"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</html>
