
// Bootstrap Colors
$brand-primary: #317be2;

a{
  color: #555;
  font-size: 1.25em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $brand-primary;
    border-color: #8064A2;
}

#top-nav{
  background-color: $brand-primary;
  border-color: #2660b0;
  margin-bottom: 0;
  a{
    color: #FFF;
    font-size: 1.25em;
  }
}

#profile-banner{
  .banner-wrapper {
    background-image: url(../assets/hogwarts_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 65%;
    min-height: 350px;
  img { height: 170px;
          position: relative;;
          left: 15px;
          top: 215px;
          z-index:1;
        }
  }
  .navbar-right a{
    text-decoration: underline;
  }
}

#content {
  h3, h4 {
    text-align:center;
  }
  .titles {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}
