
// Bootstrap Colors
$brand-primary: #317be2;

a{
  color: #555;
  font-size: 1.25em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $brand-primary;
    border-color: #8064A2;
}

#top-nav{
  background-color: $brand-primary;
  border-color: #2660b0;
  margin-bottom: 0;
  a{
    color: #FFF;
    font-size: 1.25em;
  }
}

#profile-banner{
  .banner-wrapper {
    background-image: url(../assets/castle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 65%;
    min-height: 350px;
  img { height: 170px;
          position: relative;;
          left: 15px;
          top: 215px;
          z-index:1;
        }
  }
  .navbar-right a{
    text-decoration: underline;
  }
}

#content {
  .panel-heading{
    text-align:center;
  }
  #edit-profile {
    position: relative;
    left: 315px;
  }
  h3 {
    font-size: 1.25em;
    display: inline-block;
  }
  h4 {
    text-align:center;
  }
  .titles {
    font-weight: bold;
    line-height: 1.75;
  }
  ul {
    list-style: none;
  }
  textarea{
    width: 100%;
  }
  #save_changes {
    font-size: 1.4em;
    margin-top: 30px;
    height: 80px;
    width: 220px;
    position: relative;
    left: 40%;
  }
  img {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  article {
    padding: 15px;
    margin: 8px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    div { display: inline-block;
          padding-right: 50px;
          padding-left: 30px;
          vertical-align: middle;}
    img { height: 70px;
          width: 70px; }
  }
}
