
// Bootstrap Colors
$brand-primary: #317be2;

a{
  color: #555;
  font-size: 1.25em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $brand-primary;
    border-color: #8064A2;
}

#top-nav{
  background-color: $brand-primary;
  border-color: #2660b0;
  margin-bottom: 0;
  a{
    color: #FFF;
    font-size: 1.25em;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-image: url(../assets/hogwarts_small.jpg);
  background-position: 0% 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-container{
  margin: 0 61.5px;
}
#jumbotron-nav{
  padding-right: 15px;
  .navbar-right a{
    text-decoration: underline;
  }
}
